/* styles.css */

.print-hidden {
    display: none !important;
  }
  
  @media print {
    .print-template {
      display: block !important;
    }
  
    .table {
      display: none !important;
    }
  

  }
  